<div class="flex align-items-center justify-center">
    <div class="box mt-[110px] mb-10 flex align-items-center justify-center ">
     <div class="login">
 @if(step1Show){
    <form [formGroup]="step1" (ngSubmit)="step1Submite()"  class="loginBx">
             <h1 class="text-center text-[25px] font-bold bg-main rounded-3xl mb-[140px] p-1" >Forget Password</h1>
             @if(apiError){
                 <div class=" text-red-800 rounded-lg bg-red-50  " role="alert">
                     {{apiError}}
                 </div>
             }
             <div class=" my-5 ">
                 @let emailControl =step1.get("email");
                 <input formControlName="email"
                  type="email"
                   name="floating_email"
                    id="floating_email"
                     class="input-style peer text-white mb-3 "
                    placeholder="Email " required />
                 <app-error-massage [nameControl]="emailControl"></app-error-massage>
             </div>
             <button type="submit" [disabled]="isCallingAPI"  class="text-white bg-main   font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">
                @if (isCallingAPI) {
                 <i class="fa fa-spin fa-spinner"></i>
                }@else {
             next
             }
             </button>
           </form>
 } @else if (step2Show) {
    <form [formGroup]="step2" (ngSubmit)="step2Submite()"  class="loginBx">
        <h1 class="text-center text-[30px] font-bold bg-main rounded-3xl mb-[130px]" >Reset Code</h1>
        @if(apiError){
            <div class=" text-red-800 rounded-lg bg-red-50  " role="alert">
                {{apiError}}
            </div>
        }
        <div class=" my-5 ">
            @let resetCodeControl =step2.get("resetCode");
            <input formControlName="resetCode"
             type="tel"
              name="floating_resetCode"
               id="floating_resetCode"
                class="input-style peer text-white mb-3 "
               placeholder="resetCode " required />
            <app-error-massage [nameControl]="resetCodeControl"></app-error-massage>
        </div>
        <button type="submit" [disabled]="isCallingAPI"  class="text-white bg-main   font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">
           @if (isCallingAPI) {
            <i class="fa fa-spin fa-spinner"></i>
           }@else {
        next
        }
        </button>
      </form>
 }@else if (step3Show) {
    <form [formGroup]="step3" (ngSubmit)="step3Submit()" class="loginBx">
        <h1 class="text-center text-[30px] font-bold bg-main rounded-3xl mb-[73px]" >Re_Password</h1>
        
        @if(apiError){
            <div class=" text-red-800 rounded-lg bg-red-50  " role="alert">
                {{apiError}}
            </div>
        }
       
        <div class=" my-5 ">
            @let emailControl =step3.get("email");
            <input formControlName="email"
             type="email"
              name="floating_email"
               id="floating_email"
                class="input-style peer text-white mb-3 "
               placeholder="Email " required />
    
            <app-error-massage [nameControl]="emailControl"></app-error-massage>
    
        </div>
    
    
    
        <div class=" relative  mb-5 group ">
            <input formControlName="newPassword" [type]="!toggleInput?'password' :'text'" name="floating_password" 
            id="floating_password" class="text-white input-style peer mb-3 " placeholder="Password " required />
                
            <span (click)="togglePassword()" class="absolute top-0 right-0 cursor-pointer">
    
                @if (!toggleInput) {
                    <i class="fa-sharp fa-regular fa-eye"></i>
                }@else {
                    <i class="fa-duotone fa-regular fa-eye-slash"></i>
                }
    
            </span>
             
            @let phoneControl = step3.get("newPassword") ;
            <app-error-massage [nameControl]="phoneControl"></app-error-massage>

        </div>
        <button type="submit" [disabled]="isCallingAPI"  class="text-white bg-main   font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">
           @if (isCallingAPI) {
            <i class="fa fa-spin fa-spinner"></i>
           }@else {
        update Password
        }
        </button>
      </form>
 }
           

         </div>
       </div>
     </div>
   
 