<header class="header py-32 mb-9  ">

    <div class="content  w-[80%] m-auto relative top-[20%] flex flex-col md:flex-row gap-4 justify-between items-center"> 
        <span class="one ">
            <span
             class="tow text-8xl  font-bold sm:text-center  ">
                 Fresh Cart
            </span>
            <p class="text-2xl mt-5 text-black ">
              Welcome to our store. You can order everything <br> need and it will arrive to you as quickly as possible
                        </p>
            <div class="btn mt-10">
                <a class="button type--C">
                  <div class="button__line"></div>
                  <div class="button__line"></div>
                  <span class="button__text">ENTRY</span>
                  <div class="button__drow1"></div>
                  <div class="button__drow2"></div>
                </a>
              </div>
                    </span>
        <div>
          <link rel="stylesheet" href="https://cdnc.heyzine.com/release/heyzine.3.css" as="style" onload="this.onload=null;this.rel='stylesheet'"> <div ontouchstart="this.classList.toggle('hover');" class="heyzine-flip" style="max-width: 400px;"><div class="container"><div class="front fp-w fp-fh fp-h" style="min-height: 350px; height: 350px;"><img src="https://cdnc.heyzine.com/flip-book/cover/603f84c2d8.jpg" class="img-front fp-thumb"> <div class="inner"><h5 class="fp-title"></h5></div></div> <div class="back fp-w fp-fh fp-h" style="min-height: 350px; height: 350px;"><img src="https://cdnc.heyzine.com/flip-book/cover/603f84c2d8.jpg" class="img-back fp-thumb"> <div class="inner"><p><span class="fp-subtitle"></span><br> <a href="https://heyzine.com/flip-book/603f84c2d8.html" target="_BLANK" class="fp-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">View</font></font></a></p></div></div></div></div>        </div>

    </div>
  

</header>





