<header class="header h-[100vh]  ">
    <div class="content  w-[80%] m-auto "> 
        <div class="img">
            <img src="images/logo-headar.png"  class="w-[100%]" alt="logo">
        </div>

       

        <span class="one ">
            <span class="tow text-8xl  font-bold">
                 Fresh Cart
            </span>
            <p class="text-2xl mt-5 text-red-400">
                Welcome to our store. I hope you like it 
                We have the <br>  finest types of 100% cotton clothing, and we also have <br> modern electronic games
            </p>
            <button class="p-5 bg-lime-500 rounded-xl mt-4 text-center w-[50%]">go to</button>
        </span>
      

    </div>
  

</header>