<form [formGroup]="registerForm" (ngSubmit)="register()" class="max-w-md mx-auto p-10 mt-[110px] mb-10">
    <h1 class="text-center mb-14 text-[30px] font-bold bg-main rounded-3xl" >Register</h1>

    @if(apiError){
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 " role="alert">
            {{apiError}}
        </div>
    }
    <div class="relative z-0 w-full mb-5 group">
        <input formControlName="name" type="text" name="floating_name" id="floating_name" class="input-style peer" placeholder=" " required />
        <label for="floating_name" class="label-style peer-focus:font-medium scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-main peer-focus:dark:text-main peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">User Name</label>
        @let nameControl = registerForm.get("name") ;
         <app-error-massage [nameControl]="nameControl"></app-error-massage>
        </div>
    <div class="relative z-0 w-full mb-5 group">
        @let emailControl =registerForm.get("email");
        <input formControlName="email" type="email" name="floating_email" id="floating_email" class="input-style peer" placeholder=" " required />
        <label for="floating_email" class="label-style peer-focus:font-medium scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-main peer-focus:dark:text-main peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">User Email</label>
        <app-error-massage [nameControl]="emailControl"></app-error-massage>
     
    </div>
    <div class="relative z-0 w-full mb-5 group">
        @let passwordControl = registerForm.get("password") ;

        <input formControlName="password" type="password" name="floating_password" id="floating_password" class="input-style peer" placeholder=" " required />
        <label for="floating_password" class="label-style peer-focus:font-medium scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-main peer-focus:dark:text-main peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">User Password</label>
        <app-error-massage [nameControl]="passwordControl"></app-error-massage>


       
    </div>




    <div class="relative z-0 w-full mb-5 group">
        <input formControlName="rePassword" type="password" name="floating_rePassword" id="floating_rePassword" class="input-style peer" placeholder=" " required />
        <label for="floating_rePassword" class="label-style peer-focus:font-medium scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-main peer-focus:dark:text-main peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">User RePassword</label>

        @let repasswordControl = registerForm.get("rePassword") ;
        @if(repasswordControl?.touched &&( repasswordControl?.errors ||registerForm.getError('misMatch') ) ){
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">

                <ul class="mt-1.5 list-disc list-inside">
                    @if(repasswordControl?.getError('required')){
                        <li>RePassword Is Required</li>
                    }@else if(repasswordControl?.getError('pattern')){
                        <li>Invalid pattern</li>
                    }@else if (registerForm.getError('misMatch')) {
                        <li>Password and RePassword should match </li>
                    }
                </ul>
            </div>
                     }
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <input formControlName="phone" type="tel" name="floating_phone" id="floating_phone" class="input-style peer" placeholder=" " required />
        <label for="floating_phone" class="label-style peer-focus:font-medium scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-main peer-focus:dark:text-main peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">User phone</label>
        @let phoneControl = registerForm.get("phone") ;
        <app-error-massage [nameControl]="phoneControl"></app-error-massage>

      
    </div>
    <button type="submit" [disabled]="isCallingAPI" class="text-white bg-main  focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">
       @if (isCallingAPI) {
        <i class="fa fa-spin fa-spinner"></i>
       }@else {
        Submit
       }
       
    </button>
  </form>
  