



<owl-carousel-o [options]="customOptions">
    
      @for ( category of categories ; track $index) {
        <ng-template carouselSlide>
          <div class="category-card overflow-auto text-center w-fit p-3 group">
            <figure class="w-32 h-32 rounded-full group-hover:shadow-lg group-hover:scale-110 shadow-md transition-all duration-300">
              <a>
                <img [src]="category.image" class="rounded-full w-full h-full object-cover " alt="music category">
              </a>
            </figure>
            <a  class="text-lg mt-10 group-hover:text-main  transition-all duration-300 text-black ">{{category.name}}</a>
          </div>
        </ng-template>
      }
  </owl-carousel-o>