
  @property --a {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
  }
  
  .box {
    position: relative;
 
    
    width: 400px;
    height: 200px;
    background: repeating-conic-gradient(
      from var(--a),
      #4dff00df 0%,
      #00ff37 5%,
      transparent 5%,
      transparent 40%,
      #d7ff27 50%
    );
    filter: drop-shadow(0 15px 50px #000);
    border-radius: 20px;
    animation: rotating 4s linear infinite;
   
    transition: 0.5s;
  }
  
  @keyframes rotating {
    0% {
      --a: 0deg;
    }
  
    0% {
      --a: 360deg;
    }
  }
  
  .box::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(
      from var(--a),
      #008b23 0%,
      #00b126 5%,
      transparent 5%,
      transparent 40%,
      #6dff45 50%
    );
    filter: drop-shadow(0 15px 50px #000);
    border-radius: 20px;
    animation: rotating 4s linear infinite;
    animation-delay: -1s;
  }
  
  .box::after {
    content: "";
    position: absolute;
    inset: 4px;
    background: #2d2d39;
    border-radius: 15px;
    border: 8px solid #25252b;
  }
  
  .box:hover {
    width: 450px;
    height: 500px;
  }
  
  .box:hover .login {
    inset: 30px;
  }
  
  .box:hover .loginBx {
    transform: translateY(0px);
  }
  
  .login {
    position: absolute;
    inset: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background: #00000033;
    color: #fff;
    z-index: 1000;
    box-shadow: inset 0 10px 20px #00000080;
    border-bottom: 2px solid #ffffff80;
    transition: 0.5s;
    overflow: hidden;
  }
  
  .loginBx {
    position: relative;
  
    gap: 20px;
    width: 70%;
    transform: translateY(126px);
    transition: 0.5s;
  }
  

  

  
  input:hover {
    box-shadow: 0 0 10px #45ff5b82, 0 0 60px #04ff00a6;
  }
  
